{# This will export the navigation data to json so it can be consumed client side! #}
[
  {% for item in restaurants.places  %}
    {
      "name": "{{ item.name }}",
      "neighborhood": "{{ item.neighborhood }}",
      "foodType": "{{ item.foodType }}",
      "address": "{{ item.address }}",
      "address2": "{{ item.address2 }}",
      "rating": "{{ item.rating }}",
      "site": "{{ item.site }}"
    }{{ ',' if not loop.last }}
  {% endfor  %}
]
