---
title: We're unable to find the page you're looking for.
permalink: /404.html
---

{% extends 'page.njk' %}

{% block body %}
  <div class="max-w-4xl mx-auto p-8">
    <h1 class="leading-tight text-6xl font-bold">{{ title }}</h1>
    <p class="pt-8"><a class="p underline" href="./">Go Back Home</a></p>
  </div>
{% endblock %}
