---
title: Black Owned Eateries San Diego
---

{% extends 'page.njk' %}

{% block body %}
  <aside class="px-4 py-8">
    <h1 class="h1 leading-tight">{{title}}</h1>
    <p class="p py-8 leading-snug underline"><a href="https://www.google.com/maps/d/u/0/viewer?hl=en&ll=32.76163074276532%2C-117.14613475000002&z=11&mid=1DGmSMBDbaHWI4y6F-prU_3nVuR2HYDuz" target="_blank">Map of all known black-owned restaurants in San Diego.</a></p>
    <p>Tip Well. Be Kind.</p>
    <p class="font-bold">Black Lives Matter 🖤</p>
  </aside>
  <div class="">
    <section data-restaurants> </section>
  </div>

{% endblock %}
